<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YuConnect"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".RecommendationDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.YuConnect2" />
        <activity
            android:name=".RecommendationsActivity"
            android:exported="false"
            android:theme="@style/Theme.YuConnect2" />
        <activity
            android:name=".adapter.searchview.SearchViewActivity"
            android:exported="false"
            android:theme="@style/Theme.YuConnect2" />
        <activity
            android:name=".AdsListResultActivity"
            android:exported="false"
            android:theme="@style/Theme.YuConnect2" />
        <activity
            android:name=".AdsDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.YuConnect2" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false"
            android:theme="@style/Theme.YuConnect2" />
        <activity
            android:name=".CategoryResultActivity"
            android:exported="false"
            android:theme="@style/Theme.YuConnect2" />
        <activity
            android:name=".TestActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <!-- //Iniciar con Splash aqui -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroScreenActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".authentication.AuthActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <!-- iniciar desde home -->

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>